DpWorldClient.UI/bin/
DpWorldClient.UI/obj/
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.log
*.csproj.user
*.suo
*.user
*.tt
*.tmp
*.ide

.idea/
.vs/
.vscode/
*.userosscache

*.bak
*.swp
*.tmp
*.temp

api-testing-DPWORLD/venv/
api-testing-DPWORLD/__pycache__/
api-testing-DPWORLD/*.py[cod]
api-testing-DPWORLD/*.egg-info/
api-testing-DPWORLD/*.pytest_cache/

